.DS_Store
*.lock
*.swp
*.swo
*.log
config/email.yml
config/application.yml
config/settings.yml
config/secrets.yml
*~
Gemfile.lock
log/*
.idea/*
.ruby-version
tmp/*
tmp/pids/*
public/assets/*
config/secrets.yml
app/assets/data/travel_request_forms/*.pdf
